body {
  background-image: url('../public/images/home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.nav-cont {
  height: 10vh;
  font-size: xx-large;
  background-image: url('../public/images/logo.jpeg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}
.nav {
  width: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}

.img1{
  margin-top: 10vh;
  /* margin-left: 6vh; */
}

.img1 img{
  height: 80vh;
}
.main{
  display: flex;
  justify-content: space-around;
}

.here h1 {
  font-size: 15vh;
  font-family: 'Great Vibes', cursive;
}

.intro p {
  font-size: 4vh;
  font-family: 'Roboto', sans-serif;
}
.scroll button{
  background: linear-gradient(to right, #a18cd1, #fbc2eb);
      border: none;
      border-radius: 20px;
      color: white;
      padding: 15px 30px;
      font-size: 16px;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: background 0.3s ease;
      margin-left: 2vh;
}

.ourServices {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-image: url('../public/images/background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 40px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.service {
  flex: 1 1 calc(25% - 20px);
  background: #ffffff1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.service img {
  max-width: 100px;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 1.7em;
  margin-bottom: 10px;
}

.service p {
  font-size: 1.2em;
  margin-top: 0;
}

.service:hover {
  transform: scale(1.05);
}


.service button {
  background: linear-gradient(90deg, #c738d8, #6963e8);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background 0.3s;
}

.service button:hover {
  background: linear-gradient(90deg, #6963e8, #c738d8);
}





