body {
  background-image: url('../public/images/home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-cont {
  height: 10vh;
  font-size: xx-large;
  background-image: url('../public/images/logo.jpeg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}
.nav {
  width: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
